.mainContentWrapper {
    background-color: #E0E1DD;
    padding-bottom: 50px;
}

#mainContent {
    display: grid;
    grid-template: 'leftSide content';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;
    font-weight: 500;
    width: 960px;
    max-width: 100%;
    margin: auto;
}

body {
    padding: 0;
    margin: 0;
    /* Hvis vi har footer er det denne vi skal bruke (rett under her) */
    /* background-color: #6c6f70; */
    background-color: #E0E1DD;
    font-family: 'Muli', sans-serif;
}

#header {
    grid-area: header;
    background-color: #031e2f;
    height: 160px;
}

.inputWrapper {
    margin-left: 40px;
}

#logoText {
    font-size: 36px;
    color: #FFFFFF;
    float: right;
    padding-top: 100px;
}

.dropDown {
    float: right;
    padding: 20px;
    margin-right: 20px;
}

.inputUser {
    color: white;
    text-align: center;
    margin-top: 110px;
    background-color: #1c3544;
    border: none;
    height: 25px;
    margin-left: 4px;
}

::placeholder {
    color: white;
    text-align: center;
}

#topMenu {
    padding: 20px;
    font-size: 1.5em;
    color: #1c3544;
    text-align: center;
}

#topMenu span {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.active {
    background-color: #6BAA86;
}

.active-left {
    background-color: #1c3544;
    color: white;
}

.disabled {
    background-color: #6BAA86;
}

#topMenu span:hover {
    background-color: #6BAA86;
}

#leftSide {
    grid-area: leftSide;
}

#leftSide div {
    width: fit-content;
    /* It works */
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 1.2em;
}

#leftSide div:hover {
    background-color: #1c3544;
    color: white;
    cursor: pointer;
}

#content {
    grid-area: content;
    text-align: center;
    padding: 10px;
    background-color: white;
}

#rightSide {
    grid-area: rightSide;
    height: 250px;
}

#footerBar {
    grid-area: footerBar;
    background-color: rgb(108, 111, 112);
    width: 100%;
}

#footerInfo {
    color: white;
    text-align: center;
}

.countryInfoDiv {
    padding: 10px;
    padding-left: 40px;
    border-radius: 3px;
    margin-bottom: 3px;
    text-align: left;
    background-color: white;
    font-size: 1.2em;
    font-weight: bolder;
}

.topLineInContent {
    padding: 10px;
    text-align: right;
    font-size: 22px;
    font-style: italic;
}

.topLineInContent a {
    text-decoration: none;
    color: black;
}

.topLineInContent a:hover {
    border-bottom: #6BAA86 solid 2px;
}

#companyButton {
    font-size: 0.8em;
}

.myCompanyTab {
    border-bottom: 1px #6BAA86 solid;
    font-style: italic;
    border-radius: 25px;
}

.myCompanyTab:hover {
    color: #6BAA86;
    cursor: pointer;
}

.centerTdFavorite {
    text-align: center;
}

.clickAble {
    font-weight: 600;
    cursor: pointer;
}

.clickAble:hover {
    color: #6BAA86;
}

.pointer {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
}

th {
    text-align: left;
}

.landingbutton {
    background-color: #FFF;
    margin: 40px;
    display: inline-block;
    cursor: pointer;
}

.landingbutton img {
    width: 120px;
}

.landingbutton img:hover {
    background-color: rgba(235, 233, 233, 0.5);
}

.addressType {
    text-align: left;
    margin-top: 25px;
    margin-left: 5px;
    font-size: 14px;
    color: green;
    border-bottom: solid green 2px;
    width: fit-content;
}

.changeAddNewBottomBar {
    margin-top: 25px;
    text-decoration: underline;
    text-align: right;
    margin-bottom: 85px;
}

.changeAddNewBottomBar span {
    margin-left: 5%;
}

.changeAddNewBottomBar span:hover {
    cursor: pointer;
    font-weight: bolder;
    color: green;
}

.blueDiv {
    background-color: #99BFC2;
    height: 50px;
    line-height: 50px;
    margin: -10px;
    margin-top: 10px;
}

.blueDiv span {
    color: black;
    font-size: 14px;
}

#bottomBarCompanySpan {
    font-size: 24px;
    color: #589199;
}

#saveCancelCompany {
    float: right;
    color: black;
}

    #saveCancelCompany span {
    }

#saveCancelCompany span:hover {
    background-color: #6BAA86;
}

.selectedShipName {
    font-size: 32px;
    background-color: white;
    margin-bottom: 3px;
    padding: 8px 8px;
}

.selectedShipNumber {
    font-weight: 400;
    font-style: italic;
    background-color: white;
    margin-bottom: 3px;
    padding: 8px 8px;
}

.selectedShipName span {
    border-bottom: solid green 2px;
}

#addTopRight {
    float: right;
    font-size: 22px;
    font-style: italic;
}

.stillings-text {
    font-size: 0.8em;
    font-variant: small-caps;
    font-style: italic;
}

.companiesContact {
    font-weight: bold;
}

.companiesContact:hover {
    cursor: pointer;
    border-bottom: green solid 3px;
}

#tempStyle {
    font-style: italic;
    font-weight:100;
}

.seperator {
    border-bottom: #99BFC2 solid 3px;
    height: 15px;
}