.mainContent {
    display: grid;
    grid-template: 'header header header' 
                   'leftSide content rightSide'
                   'footerBar footerBar footerBar';

}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(224, 225, 221);
}

#header {
    grid-area: header;
    background-color: #031e2f;
    height: 160px;
    width: 100%;
}
#logoText {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
    float: right;
}


#leftSide {
    grid-area: leftSide;
    border-color: blue;
}

#content {
    grid-area: content;
    border-color: blue;
    text-align: center;
    padding: 70px;
}

#rightSide {
    grid-area: rightSide;
    border-color: blue;
    height: 250px;
}

#footerBar {
    grid-area: footerBar;
    background-color: rgb(108, 111, 112);
    height: 160px;
    width: 100%;
}