.mainContentWrapper {
    background-color: #E0E1DD;
    padding-bottom: 50px;
}

#mainContent {
    display: grid;
    grid-template: 'leftSide content';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;
    font-weight: 500;
    width: 960px;
    max-width: 100%;
    margin: auto;
}

body {
    padding: 0;
    margin: 0;
    /* Hvis vi har footer er det denne vi skal bruke (rett under her) */
    /* background-color: #6c6f70; */
    background-color: #E0E1DD;
    font-family: 'Muli', sans-serif;
}

#header {
    grid-area: header;
    background-color: #031e2f;
    height: 110px;
}

.inputWrapper {
    margin-left: 40px;
}

#logoText {
    font-size: 26px;
    color: #FFFFFF;
    float: right;
    padding-top: 60px;
    margin-right: 20px;
}

.dropDown {
    float: right;
    padding: 20px;
    margin-right: 20px;
}

input, button {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid  grey;
    margin-top: 5px;
}

button {
    cursor: pointer;
}

.inputUser {
    color: white;
    text-align: center;
    margin-top: 60px;
    background-color: #1c3544;
    border: none;
    height: 18px;
    margin-left: 4px;
}

::placeholder {
    color: white;
    text-align: center;
}

#topMenu {
    padding: 20px;
    font-size: 1.5em;
    color: #1c3544;
    text-align: center;
}

#topMenu span {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.active {
    background-color: #6BAA86;
}

.active-left {
    background-color: #1c3544;
    color: white;
}

.disabled {
    background-color: #6BAA86;
}

#topMenu span:hover {
    background-color: #6BAA86;

}

#leftSide {
    grid-area: leftSide;
    margin-top: 40px;
}

#leftSide div {
    width: fit-content;
    /* It works */
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 1.2em;
}

#leftSide div:hover {
    background-color: #1c3544;
    color: white;
    cursor: pointer;
}

#content {
    grid-area: content;
    text-align: center;
    padding: 10px;
    background-color: white;
}


#rightSide {
    grid-area: rightSide;
    height: 250px;
}

#footerBar {
    grid-area: footerBar;
    background-color: rgb(108, 111, 112);
    width: 100%;
}

#footerInfo {
    color: white;
    text-align: center;
}

.countryInfoDiv {
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
    margin-bottom: 3px;
    text-align: left;
    background-color: white;
    font-size: 1.1em;
    font-weight: bolder;
}

.topLineInContent {
    padding: 10px;
    text-align: right;
    font-size: 22px;
    font-style: italic;
}

.topLineInContent a {
    text-decoration: none;
    color: black;
}

.topLineInContent a:hover {
    border-bottom: #6BAA86 solid 2px;
}

#companyButton {
    font-size: 0.8em;
}

.myCompanyTab {
    color: green;
}

.myCompanyTab:hover {
    color: #6BAA86;
    cursor: pointer;
}

.centerTdFavorite {
    text-align: center;
}
.centerTdFavoriteStar {
    text-align: center;
    font-size: 30px;
    color: green;
}

.clickAble {
    font-weight: 600;
    cursor: pointer;
}

.clickAble:hover {
    color: #6BAA86;
}

.pointer {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
}

th {
    text-align: left;
}

.landingbutton {
    background-color: #FFF;
    margin: 40px;
    display: inline-block;
    cursor: pointer;
}

.landingbutton img {
    width: 120px;
}

    .landingbutton img:hover {
        background-color: rgba(24, 0, 124, 0.13);
        border-radius: 20px;
    }

.addressType {
    text-align: left;
    margin-top: 25px;
    margin-left: 5px;
    font-size: 16px;
    color: black;
    border-bottom: solid green 2px;
    width: fit-content;
}
.myComp {
    border-radius: 2.5%;
    padding: 1px 3px;
    text-align: center;
    margin-top: 15px;
    margin-left: 84%;
    font-size: 16px;
    color: black;
    width: fit-content;
}
.myComp:hover {
    color: green;
}
.notMyComp {
    border-left: 2px red solid;
    border-right: 2px red solid;
}
.isMyComp {
    border-left: 2px green solid;
    border-right: 2px green solid;
}

.spacerTable {
    margin-top: 25px;
    margin-bottom: 25px;
}

.changeAddNewBottomBar {
    margin-top: 25px;
    text-decoration: underline;
    text-align: right;
    margin-bottom: 85px;
}

.changeAddNewBottomBar span {
    margin-left: 5%;
}

.changeAddNewBottomBar span:hover {
    cursor: pointer;
    font-weight: bolder;
    color: green;
}

.blueDiv {
    background-color: #99BFC2;
    height: 50px;
    line-height: 50px;
    margin: -10px;
    margin-top: 10px;
}

.blueDiv span {
    color: black;
    font-size: 14px;
}

#bottomBarCompanySpan {
    font-size: 14px;
    color: #589199;
}

#saveCancelCompany {
    cursor: pointer;
    float: left;
    margin-bottom: 25px;
}
#saveCancelCompanyStar {
    cursor: pointer;
    float: left;
    margin-bottom: 25px;
}

#saveCancelCompany span {
    color: black;
    border-bottom: 2px green solid;
    font-size: 16px;
    margin-top: 25px;
}
#saveCancelCompanyStar span {
    color: green;
    border-bottom: 2px green solid;
    font-size: 16px;
}

#saveCancelCompany span:hover {
    background-color: #6BAA86;
}

.selectedShipName {
    font-size: 32px;
    background-color: white;
    margin-bottom: 3px;
    padding: 8px 8px;
}

.selectedShipNumber {
    font-weight: 400;
    font-style: italic;
    background-color: white;
    margin-bottom: 3px;
    padding: 8px 8px;
}

.selectedShipName span {
    border-bottom: solid green 2px;
}

#addTopRight {
    /* float: right; */
    font-size: 16px;
    font-style: italic;
}

.stillings-text {
    font-size: 0.8em;
    font-variant: small-caps;
    font-style: italic;
}

.companiesContact {
    font-weight: bold;
}

.companiesContact:hover {
    cursor: pointer;
    border-bottom: green solid 3px;
}

#tempStyle {
    font-style: italic;
    font-weight:100;
}

.login-field {
    float: left;
}

.login-form {
    margin: auto;
    max-width: 500px;
    color: white;
}

.login-form td {
    border: 0;
}

#usernameDisplay {
    cursor: text;
    font-weight: bold;
}

/*#imgContainerShip {
    background-image: url(https://images.pexels.com/photos/906982/pexels-photo-906982.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    opacity: 0.75;
}*/

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

#login-passwd, #login-username {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid rgb(255, 255, 255, 0.7);
    color: black;
    border-radius: 4px;
    box-sizing: border-box;
}

#login-passwd::placeholder,
#login-username::placeholder {
    color: black;
    text-align: left;
}

#login {
    width: 100%;
    background-color: #1c3544;
    color: #fff;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}


#login:hover{
    background-color: #284658;
}


button:focus, input:focus {
    outline:0;
}


.ABC {
    margin: auto;
    width: 50%;
    border-radius: 5px;
    color: #1c3544;
    font-weight: bold;
    padding: 20px;
    background:inherit;
}

.sign-in {
    text-align: center;
    color: #1c3544;
}

