.mainContentWrapper {
    background-color: #E0E1DD;
    padding-bottom: 50px;
}

.mainContent {
    display: grid;
    grid-template: 'leftSide content';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;
    font-weight: 500;
    width: 960px;
    max-width: 100%;
    margin: auto;
}

#landingPage span {
    width: 125px;
    height: 50px;
    padding: 10px;
    margin: auto;
    font-size: 1.3em;
    border: black 1px solid;
    border-radius: 5%;
}
.inputWrapper {
    margin-left: 50px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #6c6f70;
    font-family: 'Muli', sans-serif;
}

#header {
    grid-area: header;
    background-color: #031e2f;
    height: 160px;
    width: 100%;
}

#logoText {
    font-size: 36px;
    color: #FFFFFF;
    float: right;
    padding-top: 100px;
}

.dropDown {
    float: right;
    padding: 20px;
    margin-right: 20px;
}

.inputUser {
    color: white;
    text-align: center;
    margin-top: 110px;
    background-color: #1c3544;
    border: none;
    height: 25px;
    margin-left: 4px;
}

::placeholder {
    color: white;
    text-align: center;
}

.search {
    margin-left: 5px;
    height: 25px;
    width: 230px;
    background-color: #031e2f;
    border: none;
    border-bottom: 1px solid #152e3e;
}

    .search:focus {
        color: white;
        padding-left: 5px;
        outline: none;
    }

    .search:not(:focus) {
        color: white;
        padding-left: 5px;
    }

.fa fa-search {
    color: #576369;
    margin-left: 10px;
}

#topMenu {
    padding: 20px;
    font-size: 1.5em;
    color: #1c3544;
    text-align: center;
}

    #topMenu span {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
        border-radius: 3px;
        cursor: pointer;
    }

        #topMenu span.active {
            background-color: #6BAA86;
        }

        #topMenu span:hover {
            background-color: #6BAA86;
        }

#leftSide {
    grid-area: leftSide;
}

    #leftSide div {
        width: fit-content;
        /* It works */
        padding: 5px 5px 5px 5px;
        margin-bottom: 10px;
        border-radius: 3px;
        font-size: 1.2em;
    }

        #leftSide div:hover {
            background-color: #1c3544;
            color: white;
            cursor: pointer;
        }

#content {
    grid-area: content;
    text-align: center;
    padding: 10px;
    background-color: white;
}

#rightSide {
    grid-area: rightSide;
    height: 250px;
}

#footerBar {
    grid-area: footerBar;
    background-color: rgb(108, 111, 112);
    width: 100%;
}

#footerInfo {
    color: white;
    text-align: center;
}

.topLineInContent {
    padding: 10px;
    text-align: right;
    font-size: 1.3em;
}
.topLineInContent a {
    text-decoration: none;
    color: black;
}

        .topLineInContent a:hover {
            text-decoration: underline;
        }