.mainContentWrapper {
    background-color: #E0E1DD;
    padding-bottom: 50px;
}

#mainContent {
    display: grid;
    grid-template: 'leftSide content';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;
    font-weight: 500;
    width: 960px;
    max-width: 100%;
    margin: auto;
}

body {
    padding: 0;
    margin: 0;
    background-color: #6c6f70;
    font-family: 'Muli', sans-serif;
}

#header {
    grid-area: header;
    background-color: #031e2f;
    height: 160px;
}

#landingPage {
    margin-top: 150px;
}

    #landingPage span {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 50px;
        font-size: 1.3em;
        border-bottom: green 2px solid;
    }

        #landingPage span:hover {
            background-color: #6BAA86;
        }

.inputWrapper {
    margin-left: 40px;
}

#logoText {
    font-size: 36px;
    color: #FFFFFF;
    float: right;
    padding-top: 100px;
}

.dropDown {
    float: right;
    padding: 20px;
    margin-right: 20px;
}

.inputUser {
    color: white;
    text-align: center;
    margin-top: 110px;
    background-color: #1c3544;
    border: none;
    height: 25px;
    margin-left: 4px;
}

::placeholder {
    color: white;
    text-align: center;
}

.search {
    margin-left: 5px;
    height: 25px;
    width: 230px;
    background-color: #031e2f;
    border: none;
    border-bottom: 1px solid #152e3e;
}

    .search:focus {
        color: white;
        padding-left: 5px;
        outline: none;
    }

    .search:not(:focus) {
        color: white;
        padding-left: 5px;
    }

.fa fa-search {
    color: #576369;
    margin-left: 10px;
}

#topMenu {
    padding: 20px;
    font-size: 1.5em;
    color: #1c3544;
    text-align: center;
}

    #topMenu span {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
        border-radius: 3px;
        cursor: pointer;
    }

.active {
    background-color: #6BAA86;
}

.disabled {
    background-color: #6BAA86;
}

#topMenu span:hover {
    background-color: #6BAA86;
}

#leftSide {
    grid-area: leftSide;
}

    #leftSide div {
        width: fit-content;
        /* It works */
        padding: 5px 5px 5px 5px;
        margin-bottom: 10px;
        border-radius: 3px;
        font-size: 1.2em;
    }

        #leftSide div:hover {
            background-color: #1c3544;
            color: white;
            cursor: pointer;
        }

#content {
    grid-area: content;
    text-align: center;
    padding: 10px;
    background-color: white;
    min-height: 300px;
}

#rightSide {
    grid-area: rightSide;
    height: 250px;
}

#footerBar {
    grid-area: footerBar;
    background-color: rgb(108, 111, 112);
    width: 100%;
}

#footerInfo {
    color: white;
    text-align: center;
}

.countryInfoDiv {
    padding: 10px;
    padding-left: 40px;
    border-radius: 3px;
    margin-bottom: 3px;
    text-align: left;
    background-color: white;
    font-size: 1.2em;
    font-weight: bolder;
}

.topLineInContent {
    padding: 10px;
    text-align: right;
    font-size: 1.3em;
}

    .topLineInContent a {
        text-decoration: none;
        color: black;
    }

        .topLineInContent a:hover {
            text-decoration: underline;
        }

/* for tableview */

#addCompanyButton {
    text-decoration: none;
    border-bottom: green 2px solid;
}
    #addCompanyButton:hover {
        color: #6BAA86;
    }

#companyButton {
    font-size: 0.8em;

}

.myCompanyTab {
    border-bottom: 1px #6BAA86 solid;
    font-style: italic;
    border-radius: 25px;
}

    .myCompanyTab:hover {
        color: #6BAA86;
        cursor: pointer;
    }

.clickAble {
    font-weight: 600;
}

    .clickAble:hover {
        color: #6BAA86;
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
}

.Landingpage {
    margin-top: 100px;
}

#companiesIcon, #shipsIcon, #contractIcon {
    background-color: #FFF;
    position: absolute;
    
}

img {
    width: 120px;
    border-right: rgb(141, 141, 141, 0.5) solid 2px;

}

img:hover {
    background-color: rgb(190, 190, 189);
    
}

#companiesIcon {
    margin: 40px 0;
    
}


#shipsIcon {
    margin: 40px 20%;
    
}
 

#contractIcon {
    margin: 40px 40%;
    
}