.mainContent {
    display: grid;
    grid-template: 'header header header' 
                   'topMenu topMenu topMenu'
                   'leftSide content rightSide'
                   'footerBar footerBar footerBar';
    grid-template-rows: 1fr 2fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(224, 225, 221);
}

#header {
    grid-area: header;
    background-color: #031e2f;
    height: 160px;
    width: 100%;
}
#logoText {
    font-family: 'High Tower Text';
    font-size: 36px;
    color: #FFFFFF;
    float: right;
    padding-top: 50px;
}

.dropDown {
    float: right;
    padding: 10px;
}

.inputUser {
    margin-top: 60px;
}
#topMenu {
    grid-area: topMenu;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
}
    #topMenu span {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
        border-radius: 3px;
        cursor: pointer;
    }
    #topMenu span.active {
        background-color: #6BAA86;
    }

#leftSide {
    grid-area: leftSide;
    border-color: blue;
}

#content {
    grid-area: content;
    text-align: center;
    padding: 70px;
}

#rightSide {
    grid-area: rightSide;
    height: 250px;
}

#footerBar {
    grid-area: footerBar;
    background-color: rgb(108, 111, 112);
    height: 160px;
    width: 100%;
}

#footerInfo {
    color: white;
    text-align: center;
    font-size: 12px;
}