.mainContent {
    display: grid;
    grid-template: 'header header header' 
                   'topMenu topMenu topMenu'
                   'leftSide content rightSide'
                   'footerBar footerBar footerBar';
    grid-template-rows: 1fr 1fr 12fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    font-family: 'Muli', sans-serif;
    font-weight: 500;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(224, 225, 221);
}

#header {
    grid-area: header;
    background-color: #031e2f;
    height: 160px;
    width: 100%;
}


#logoText {
    font-family: 'Muli', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    float: right;
    padding-top: 100px;
    
    
}

.dropDown {
    float: right;
    padding: 20px;
    margin-right: 20px;
}

.inputUser {
    margin-top: 110px;
    background-color: #1c3544;
    border: none;
    height: 25px;
    margin-left: 4px;
}

::placeholder {
color: white;
text-align:center;
}

.search {
    margin-left: 5px;
    height: 25px;
    width: 280px;
    background-color: #031e2f;
    border: none;
    border-bottom: 1px solid #152e3e;
    
}

.search:focus {
    color: white;
    padding-left: 5px;
    outline:none;

}

.search:not(:focus) {
    color:white;
    padding-left: 5px;
}

.fa fa-search {
    color: #576369;
    margin-left: 10px;
}


#topMenu {
    grid-area: topMenu;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 28px;
    color: #1c3544;
    text-align: center;
}
    #topMenu span {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
        border-radius: 3px;
        cursor: pointer;
    }
    #topMenu span.active {
        background-color: #6BAA86;
    }
        #topMenu span:hover {
            background-color: #6BAA86;
        }

#leftSide {
    grid-area: leftSide;
}
    #leftSide div {
        width: fit-content;  /* It works */
        margin-left: 50px;
        margin-bottom: 15px;
        border-radius: 3px;
        font-size: 24px;
    }
        #leftSide div:hover {
            background-color: #6BAA86;
            cursor: pointer;

        }

#content {
    grid-area: content;
    text-align: center;
    padding: 70px;
    margin-left: 30px;
    background-color: #FFFFFF;
}

#rightSide {
    grid-area: rightSide;
    height: 250px;
}

#footerBar {
    grid-area: footerBar;
    background-color: rgb(108, 111, 112);
    height: 160px;
    width: 100%;
    
}

#footerInfo {
    color: white;
    text-align: center;
    font-size: 12px;
}